/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"); */
@font-face {
	font-family: Ubuntu;
	src: url(http://localhost/sifah/assets/fonts/Ubuntu-Medium.ttf);
}

html {
	scroll-behavior: smooth;
}
.landing {
	background-image: url("http://localhost/sifah/assets/img/sifah.jpg");
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.title-landing {
	font-weight: 700;
	position: relative;
	top: 200px;
	color: #28ab99;
	font-size: 80px;
	font-family: "Ubuntu", sans-serif;
}
.content-landing {
	color: #28ab99;
	font-weight: 600;
	font-size: 30px;
	position: relative;
	top: 200px;
	font-family: "Ubuntu", sans-serif;
}
.detail {
	color: white;
	background-color: #28ab99;
	padding: 25px 40px;
	border-radius: 7px;
	position: relative;
	top: 200px;
	font-size: large;
	font-family: "Ubuntu", sans-serif;
}
.detail:hover {
	text-decoration: none;
	color: white;
	background-color: #08463d;
}
.footer-landing {
	position: relative;
	top: 200px;
	font-family: "Ubuntu", sans-serif;
	font-size: 17px;
}
.about-image {
	max-width: 100%;
}
.title-about {
	font-weight: bold;
	font-family: "Ubuntu", sans-serif;
	color: #28ab99;
}
.content-about {
	font-size: large;
	color: #28ab99;
	font-family: "Ubuntu", sans-serif;
}
.footer-content {
	font-family: "Ubuntu", sans-serif;
}
.navbar {
	padding-top: 70px;
	transition: padding-top 0.7s;
}
.navbar-dark .navbar-brand {
	color: #28ab99;
	font-weight: bold;
	font-size: 30px;
	font-family: "Ubuntu", sans-serif;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
	color: #08463d;
}
.navbar-dark .navbar-nav .nav-link {
	color: #28ab99;
	font-size: 17px;
	font-family: "Ubuntu", sans-serif;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
	color: #08463d;
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
	color: #08463d;
}
.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.1);
}
.login {
	background-image: url("http://localhost/sifah/assets/img/login.jpg");
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.login-page {
	position: relative;
	top: 100px;
	max-width: 500px;
}
.title-login {
	font-weight: bold;
	font-family: "Ubuntu", sans-serif;
	color: #28ab99;
}
.fontku {
	font-family: "Ubuntu", sans-serif;
	color: #28ab99;
}
.btn-green {
	background-color: #28ab99;
}
.card-header {
	background-color: #28ab99;
}
.back-home:hover {
	color: #08463d;
	text-decoration: none;
}
